*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
}
.spacer {
  height: 100px;
  width: 100%
}

.score {
  position: absolute;
  font-size: 3vmin;
  top: 1vmin;
  right: 10vmin;
  font-family: Arial, Helvetica, sans-serif;
  color: #535353
}
.logo {
  max-width: 500px;
  border: 2px solid  
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  color: #535353;

}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}
